h1, h2 {
    text-align: center;
}

img {
    width: 100%;
    height: auto;
}

#app-body {
    display: flex;
    height: 100%;
}

.kitty_list {
    flex-basis: 20%;
    background-color: #efefef;
    height: 95vh;
}

.each_cat_selected{
    background-color: green;
    color: #fff;
    font-weight: 400;
}
.kitty_list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.each_cat {
    font-size: 1.50em;
    text-align: center;
}

.each_cat:hover {
    background-color: #fff;
    cursor: pointer;
}



.kitty-display{
    flex-basis: 95vh;
}


.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 40px;
    max-width: 400px;
    margin: 0 auto;
}
.admin-header {
    margin-top: 5px;
    display: flex;
    justify-content: flex-end;
}


.admin-header h3 {
    margin: 0;
    padding: 5px;
    border: 1px solid black;
    border-bottom: none;
    background: #bebebe;
    font-size: 1.25rem;
    margin-right: auto;
}

.hidden {
    display: none;
}

.btn {
    border: none;
    color: white;
    padding: 5px 10px;
    font-size: 1.25rem;
    cursor: pointer;
}

.admin-btn {
    background:  #3240bd;
}

.admin-btn:active {
    background:  #838fff;
}

.admin-form {
    border: 1px solid black;
    padding: 10px 5px;
}

.admin-hidden {
    
}

.form-input {
    display: flex;
    font-size: 1.25rem;
}

.form-btns {
    margin-top:10px;
    display: flex;
    justify-content: space-between;
}

.cancel-btn {
    background: red;
}

.submit-btn {
    background: green;
}




